* {
    font-family: 'Trebuchet MS';
}

body {
    text-decoration: none;
    margin: 0px;
    background: linear-gradient(30deg, rgba(18,12,134,1) 0%, rgba(99,103,194,1) 50%, rgba(255,255,255,1) 100%);
}

.loginSignup {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSignupForm {
    background: whitesmoke;
    padding: 10px 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgb(42, 65, 143) inset;
}

img {
    margin: 0px auto;
    margin-top: 100px;
    min-width: 576px;
    min-height: 199px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgb(42, 65, 143);
    display: block;
    width: 50%;
}

.inputForm {
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
}

.loginSignupButton {
    margin: 10px 20px;
    justify-content: center;


}

.info {
    color: red;
    align-items: center;
    justify-content: center;
    display: flex;



}